name: Daily 데이터 생성

on:
  push:
    branches: ['main']
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          token: ${{ github.token }}
          fetch-depth: 0
          persist-credentials: true

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Install Yarn
        run: npm install --global yarn

      - name: Install Modules
        run: yarn install

      - name: Generate Data
        env:
          NOTION_API_SECRET: ${{ secrets.NOTION_API_SECRET }}
          NOTION_PORTFOLIO_DATABASE_ID: ${{ secrets.NOTION_PORTFOLIO_DATABASE_ID }}
          NOTION_NOTICE_DATABASE_ID: ${{ secrets.NOTION_NOTICE_DATABASE_ID }}
          NOTION_NEWS_DATABASE_ID: ${{ secrets.NOTION_NEWS_DATABASE_ID }}
          NOTION_PDS_DATABASE_ID: ${{ secrets.NOTION_PDS_DATABASE_ID }}
          NOTION_ASK_DATABASE_ID: ${{ secrets.NOTION_ASK_DATABASE_ID }}
          NOTION_EDUCATION_PAGE_ID: ${{ secrets.NOTION_EDUCATION_PAGE_ID }}
          NOTION_PRODUCT_PAGE_ID: ${{ secrets.NOTION_PRODUCT_PAGE_ID }}
          CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
          CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
          CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
          CLOUDINARY_UPLOAD_PRESET: ${{ secrets.CLOUDINARY_UPLOAD_PRESET }}
        run: yarn run update:data

      - name: Push Data
        run: |
          CURRENT_DATE=$(date +%Y%m%d%H%m)

          git config --global user.email "iot.frontier@gmail.com"
          git config --global user.name "jongju park"

          # 변경 사항이 있을 때만 커밋 및 푸시 수행
          if [[ `git status --porcelain` ]]; then
            git add -A
            git commit -am "Update notion data : ${CURRENT_DATE}"
            git push origin main
          fi
